[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/zaproxy/latest/zap.sh
Icon=/opt/zaproxy/latest/zap.ico
StartupNotify=false
Categories=Development;
Name=Zed Attack Proxy - {{ zaproxy_version }}
Comment=Test the security of web applications (by OWASP)
Terminal=false
