[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/zaproxy/ZAP_2.4.0/zap.sh
Icon=/opt/zaproxy/ZAP_2.4.0/zap.ico
StartupNotify=false
Categories=Development;GNOME;GTK;Network;WebBrowser;
Name=Zed Attack Proxy
Comment=Test the security of web applications (by OWASP)
Terminal=false
Path=~/zaproxy
