[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/netbeans/latest/bin/netbeans
Icon=/opt/netbeans/latest/nb/netbeans.png
StartupNotify=false
Categories=Development;
Name=NetBeans IDE - {{ netbeans_version }}
Comment=Quickly and easily develop desktop, mobile and web applications with Java, HTML5, PHP, C/C++ and more. 
Terminal=false
Path=~/
