[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/netbeans/bin/netbeans
Icon=/opt/netbeans/nb/netbeans.png
StartupNotify=false
Categories=Development;
Name=NetBeans IDE
Comment=Quickly and easily develop desktop, mobile and web applications with Java, HTML5, PHP, C/C++ and more. 
Terminal=false
Path=~/
