[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=firefox -P dev-edition-default
Icon=firefox
StartupNotify=false
Categories=Development;GNOME;GTK;Network;WebBrowser;
Name=Firefox Developer Edition - {{ latest_version }}
Comment=Debug, Profile, Optimize and Repair the World Wide Web
Terminal=false
