[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/jmeter/latest/bin/jmeter.sh
Icon=/opt/jmeter/latest/docs/images/jmeter_square.png
StartupNotify=false
Categories=Development;
Name=JMeter
Comment=Java load testing tool
Terminal=false
