[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/firefox-de/latest/firefox -P dev-edition-default
Icon=/opt/firefox-de/latest/browser/chrome/icons/default/default48.png
StartupNotify=false
Categories=Development;GNOME;GTK;Network;WebBrowser;
Name=Firefox Developer Edition - {{ firefox_de_version }}
Comment=Debug, Profile, Optimize and Repair the World Wide Web
Terminal=false
