[Desktop Entry]
Name=Codium - {{ version }}
Version=1.0
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium --unity-launch %F
Icon=codium
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=codium;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=codium --new-window %F
Icon=codium
