---
# File: roles/apache_directory_studio/tasks/main.yml

- name: download latest version of Apache Directory Studio (64-bit)
  uri: url={{ studio_url_64 }}
       dest=~/{{ studio_file }}
       creates=~/{{ studio_file }}
  when: ansible_architecture == "x86_64"
  tags:
    - apache_directory_studio
    - ldap

- name: download latest version of Apache Directory Studio (32-bit)
  uri: url={{ studio_url_32 }}
       dest=~/{{ studio_file }}
       creates=~/{{ studio_file }}
  when: ansible_architecture == "i386"
  tags:
    - apache_directory_studio
    - ldap
    
- name: create the directory where the Apache Directory Studio will be installed
  file: path={{ studio_installation_directory }}
        state=directory
    
- name: unzip the downloaded Apache Directory Studio archive
  unarchive: copy=no
             src=~/{{ studio_file }}
             dest={{ studio_installation_directory }}
             creates={{ studio_home_directory }}
             owner=root
             group=root
  register: unarchive_result
  tags:
    - apache_directory_studio
    - ldap

- name: move the tar's base directory somewhere maintainable (64-bit)
  command: mv {{ studio_installation_directory }}/{{ studio_tar_directory }}
           {{ studio_installation_directory }}/{{ studio_version }}.v{{ studio_build }}
  when: unarchive_result is changed
  tags:
    - apache_directory_studio
    - ldap
           
- name: create a pretty symlink to the latest version
  file: src={{ studio_installation_directory }}/{{ studio_version }}.v{{ studio_build }}
        path={{ studio_installation_directory }}/latest
        state=link
  tags:
    - apache_directory_studio
    - ldap

- name: add a launcher to the development menu for Apache Directory Studio
  template: src=../files/apache_directory_studio.desktop
            dest=/usr/share/applications
  tags:
    - apache_directory_studio
    - ldap
