[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/dbeaver/latest/dbeaver
Icon=/opt/dbeaver/latest/icon.xpm
StartupNotify=false
Categories=Development;
Name=DBeaver
Comment=Free Universal Database Manager 
Terminal=false
