[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/postman/latest/Postman
Icon=/opt/postman/latest/resources/app/assets/icon.png
StartupNotify=false
Categories=Development;
Name=Postman - {{ postman_version }}
Comment=REST service testing
Terminal=false
