---
# File: roles/soapui/vars/main.yml
# http://cdn01.downloads.smartbear.com/soapui/5.3.0/SoapUI-5.3.0-linux-bin.tar.gz

soapui_host: https://s3.amazonaws.com
soapui_path: downloads.eviware/soapuios/{{ soapui_version }}
soapui_file: SoapUI-{{ soapui_version }}-linux-bin.tar.gz

soapui_url: "{{ soapui_host }}/{{ soapui_path }}/{{ soapui_file }}"

soapui_installation_directory: /opt/soapui
soapui_tar_directory: "{{ soapui_installation_directory }}/SoapUI-{{ soapui_version }}"
soapui_home_directory: "{{ soapui_installation_directory }}/{{ soapui_version }}"
soapui_bin_directory: "{{ soapui_home_directory }}/bin"

soapui_bin_archive: soapui-{{ soapui_version }}.jar
soapui_icon_path: com/eviware/soapui/resources/images
soapui_icon_file: favicon.png
