[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/spotbugs/latest/bin/spotbugs
Icon=/opt/spotbugs/latest/bin/spotbugs.ico
StartupNotify=false
Categories=Development;
Name=SpotBugs - {{ spotbugs_version }}
Comment=Java static code analysis tool
Terminal=false
