[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/eclipse/latest/eclipse
Icon=/opt/eclipse/latest/icon.xpm
StartupNotify=false
Categories=Development;
Name=Eclipse IDE - {{ eclipse_version }} {{ eclipse_sr }} JEE/BIRT
Comment=Eclipse IDE - {{ eclipse_version }} {{ eclipse_sr }} For Java EE and Report Developers
Terminal=false
