[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/ApacheDirectoryStudio-linux-x86-2.0.0.v20130628/ApacheDirectoryStudio
Icon=/opt/ApacheDirectoryStudio-linux-x86-2.0.0.v20130628/ApacheDirectoryStudio.xpm
StartupNotify=false
Categories=Development;
Name=Apache Directory Studio
Comment=The RCP-based LDAP browser and directory client
Terminal=false
Path=~/
