[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/opt/apache-directory-studio/latest/ApacheDirectoryStudio
Icon=/opt/apache-directory-studio/latest/icon.xpm
StartupNotify=false
Categories=Development;
Name=Apache Directory Studio
Comment=The RCP-based LDAP browser and directory client
Terminal=false
Path=~/
