---
# File: roles/containerization/tasks/main.yml

#
# Docker
#

- name: install docker for container execution environment
  apt: name=docker.io state=latest
  tags:
    - containerization
    - docker

#
# Delete the full Kubernetes installation
#

- name: delele Kubernetes
  file: name={{ k8s_installation_directory }} state="absent"
  tags:
    - containerization
    - kubernetes

#
# Install only kubectl
#

- name: "remove Debian kubectl"
  apt:
    name: "kubectl"
    state: "absent"
    update_cache: "yes"
  tags:
    - containerization
    - kubernetes

- name: "remove the Google apt repository"
  apt_repository:
    repo: "deb http://apt.kubernetes.io/ kubernetes-xenial main"
    state: "absent"
  tags:
    - containerization
    - kubernetes

- name: install the snap-managed kubectl
  command: snap install --classic kubectl
  args:
    creates: /snap/bin/kubectl
  tags:
    - containerization
    - kubernetes

#
# HyperKube is now deprecated in favor of MiniKube
#

- name: remove the directory for the convenience scripts
  file: name={{ k8s_installation_directory }}/scripts state=directory
        state=absent
  tags:
    - containerization
    - kubernetes

- name: remove scripts from the user's path
  file: path={{ item }}
        state=absent
  with_items:
    - /usr/bin/kube-up
    - /usr/bin/kube-down
  tags:
    - containerization
    - kubernetes

#
# Minikube
#

- name: create the installation directory for MiniKube
  file: name={{ minikube_home_directory }} state=directory
  tags:
    - containerization
    - kubernetes
    - minikube

- name: download the MiniKube executable
  uri: url={{ minikube_url }}
       dest="{{ minikube_home_directory }}/{{ minikube_file }}"
       creates="{{ minikube_home_directory }}/{{ minikube_file }}"
       mode=755
  register: download_result
  tags:
    - containerization
    - kubernetes
    - minikube

- name: create a pretty symlink to the latest MiniKube version
  file: src={{ minikube_home_directory }}
        path={{ minikube_installation_directory }}/latest
        state=link
  when: download_result is changed
  tags:
    - containerization
    - kubernetes
    - minikube

- name: put minikube on the user's path
  file: src={{ minikube_installation_directory }}/latest/{{ minikube_file }}
        path=/usr/bin/minikube
        state=link
  tags:
    - containerization
    - kubernetes
    - minikube

#
# Kubectx
#

- name: "create the installation directory for kubectx"
  file:
    name: "{{ kubectx_installation_directory }}"
    state: "directory"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "download the kubectx archive"
  uri:
    url: "{{ kubectx_url }}"
    dest: "~/{{ kubectx_file }}"
    creates: "~/{{ kubectx_file }}"
    mode: "755"
  register: "kubectx_download_result"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "expand the kubectx archive"
  unarchive:
    src: "~/{{ kubectx_file }}"
    dest: "{{ kubectx_installation_directory }}"
    copy: "no"
    creates: "{{ kubectx_home_directory }}"
  register: "kubectx_unarchive_result"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "rename the archive directory to the version number"
  command: "mv {{ kubectx_installation_directory }}/kubectx-{{ kubectx_version }} {{ kubectx_home_directory }}"
  when: "kubectx_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "make a pretty symlink to the new version"
  file:
    src: "{{ kubectx_home_directory }}"
    path: "{{ kubectx_installation_directory }}/latest"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "create symlinks to the executables"
  file:
    src: "{{ kubectx_installation_directory }}/latest/{{ item }}"
    dest: "/usr/bin/{{ item }}"
    state: "link"
  with_items: "{{ kubectx_executables }}"
  tags:
    - containerization
    - kubernetes
    - kubectx

- name: "create symlinks for Kubernete's bash completion"
  file:
    src: "{{ kubectx_installation_directory }}/latest/completion/{{ item }}.bash"
    dest: "/etc/bash_completion.d/{{ item }}.bash"
    state: "link"
  with_items: "{{ kubectx_executables }}"
  tags:
    - containerization
    - kubernetes
    - kubectx

#
# Helm
#

- name: "create the installation directory for helm"
  file:
    name: "{{ helm_installation_directory }}"
    state: "directory"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "download the Helm release archive"
  get_url:
    url: "{{ helm_url }}"
    dest: "~/{{ helm_file }}"
    checksum: "{{ helm_checksum }}"
    mode: "755"
  register: "helm_download_result"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "expand the Helm archive"
  unarchive:
    src: "~/{{ helm_file }}"
    dest: "{{ helm_installation_directory }}"
    copy: "no"
    creates: "{{ helm_home_directory }}"
  register: "helm_unarchive_result"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "rename the Helm archive directory to the version number"
  command: "mv {{ helm_installation_directory }}/linux-amd64 {{ helm_home_directory }}"
  when: "helm_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "make a pretty symlink to the latest version"
  file:
    src: "{{ helm_home_directory }}"
    dest: "{{ helm_installation_directory }}/latest"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "create a symlink to the executable"
  file:
    src: "{{ helm_installation_directory }}/latest/helm"
    dest: "/usr/bin/helm"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "download Helm's bash completions"
  get_url:
    url: "{{ helm_bash_url }}"
    dest: "{{ helm_installation_directory }}/latest"
    mode: "755"
  tags:
    - containerization
    - kubernetes
    - helm

- name: "create a symlink to Helm's bash completion"
  file:
    src: "{{ helm_installation_directory }}/latest/{{ helm_bash_file }}"
    dest: "/etc/bash_completion.d/helm-{{ helm_bash_file }}"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - helm

#
# Kubeseal
#

- name: "create the home directory for kubeseal"
  file:
    path: "{{ kubeseal_home_directory }}"
    state: "directory"
  tags:
    - containerization
    - kubernetes
    - kubeseal

- name: "create the go_os variable"
  command: "/usr/lib/go-{{ go_version }}/bin/go env GOOS"
  register: go_os
  changed_when: false
  tags:
    - containerization
    - kubernetes
    - kubeseal

- name: "create the go_arch variable"
  command: "/usr/lib/go-{{ go_version }}/bin/go env GOARCH"
  register: go_arch
  changed_when: false
  tags:
    - containerization
    - kubernetes
    - kubeseal

- name: "downloadand install the appropriate kubeseal binary"
  get_url:
    url: "{{ kubeseal_url }}-{{ go_os.stdout }}-{{ go_arch.stdout }}"
    dest: "{{ kubeseal_home_directory }}/{{ kubeseal_file }}"
    mode: "755"
  tags:
    - containerization
    - kubernetes
    - kubeseal

- name: "create a pretty symlink for kubeseal"
  file:
    src: "{{ kubeseal_home_directory }}"
    path: "{{ kubeseal_installation_directory }}/latest"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - kubeseal

- name: "create a symlink to the executable"
  file:
    src: "{{ kubeseal_installation_directory }}/latest/kubeseal"
    path: "/usr/bin/kubeseal"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - kubeseal

#
# Istio
#

- name: "create the installation directory for Istio"
  file:
    name: "{{ istio_installation_directory }}"
    state: "directory"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "download the Istio release archive"
  get_url:
    url: "{{ istio_url }}"
    dest: "~/{{ istio_file }}"
    checksum: "{{ istio_checksum }}"
    mode: "755"
  register: "istio_download_result"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "expand the Istio archive"
  unarchive:
    src: "~/{{ istio_file }}"
    dest: "{{ istio_installation_directory }}"
    copy: "no"
    creates: "{{ istio_home_directory }}"
  when: "istio_download_result is changed"
  register: "istio_unarchive_result"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "rename the Istio archive directory to the version number"
  command: "mv {{ istio_installation_directory }}/istio-{{ istio_version }} {{ istio_home_directory }}"
  when: "istio_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "make a pretty symlink to the latest version"
  file:
    src: "{{ istio_home_directory }}"
    dest: "{{ istio_installation_directory }}/latest"
    state: "link"
  when: "istio_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "create a symlink to the istioctl executable"
  file:
    src: "{{ istio_installation_directory }}/latest/bin/istioctl"
    dest: "/usr/bin/istioctl"
    state: "link"
  when: "istio_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "generate istioctl's bash completion"
  command: "istioctl collateral --bash --outputDir {{ istio_installation_directory }}/latest/bin"
  when: "istio_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - istio

- name: "create a symlink to istioctl's bash completion"
  file:
    src: "{{ istio_installation_directory }}/latest/bin/istioctl.bash"
    dest: "/etc/bash_completion.d/istioctl.bash"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - istio

#
# Terraform
#

- name: "create the installation directory for Terraform"
  file:
    name: "{{ terraform_installation_directory }}"
    state: "directory"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "download the Terraform release archive"
  get_url:
    url: "{{ terraform_url }}"
    dest: "~/{{ terraform_file }}"
    mode: "755"
  register: "terraform_download_result"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "expand the Terraform archive"
  unarchive:
    src: "~/{{ terraform_file }}"
    dest: "{{ terraform_installation_directory }}"
    copy: "no"
    creates: "{{ terraform_home_directory }}"
  when: "terraform_download_result is changed"
  register: "terraform_unarchive_result"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "rename the Terraform archive directory to the version number"
  command: "mv {{ terraform_installation_directory }}/terraform {{ terraform_home_directory }}"
  when: "terraform_unarchive_result is changed"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "make a pretty symlink to the latest version of Terraform"
  file:
    src: "{{ terraform_home_directory }}"
    dest: "{{ terraform_installation_directory }}/latest"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "create a symlink to the terraform executable"
  file:
    src: "{{ terraform_installation_directory }}/latest"
    dest: "/usr/bin/terraform"
    state: "link"
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform

- name: "set-up Terraform's bash completion"
  template: src=../files/terraform.bash
            dest=/etc/bash_completion.d/
  tags:
    - containerization
    - kubernetes
    - aws
    - terraform
