---
# File: roles/common/tasks/main.yml

- name: "upgrade existing apt packages"
  apt:
    upgrade: "yes"
    update_cache: "yes"
    autoclean: "yes"
    autoremove: "yes"
    state: "latest"

# Mint does not ship with snap

- name: ensure snap is installed
  apt:
    name: "snapd"
    state: "latest"

- name: "add the PIP package manager"
  apt:
    name: "{{ packages }}"
    state: "latest"
  vars:
    packages:
    - "python-setuptools"
    - "python-pip"
  tags:
    - "python"

- name: install basic Linux tools
  apt:
    name: "{{ packages }}"
    state: "latest"
  vars:
    packages:
    - "asciinema"
    - "audacity"
    - "curl"
    - "fonts-opendyslexic"
    - "gparted"
    - "hopenpgp-tools"
    - "lynx"
    - "minicom"
    - "oathtool"
    - "parcimonie"
    - "pass"
    - "qtpass"
    - "recordmydesktop"
    - "screen"
    - "seahorse"
    - "secure-delete"
    - "snapd"
    - "sshfs"
    - "sshuttle"
    - "tftp"
    - "traceroute"
    - "tree"
    - "vlc"
    - "whois"
    - "wipe"

- name: install freemind via snap
  snap:
    name: "freemind"
    state: "present"
    classic: true
  tags:
    - freemind

- name: copy the freemind icon
  copy:
    src: ../files/freemind.png
    dest: /snap/bin
  tags:
    - freemind

- name: add the freemind desktop item to the menu
  copy:
    src: ../files/freemind.desktop
    dest: /usr/share/applications
  tags:
    - freemind
    
- name: install the NTP daemon (on Mint ... it's not installed by default)
  apt:
    name: ntp
    state: latest
  
# Remove f.lux (see https://justgetflux.com/linux.html) if installed

- name: remove f.lux
  apt:
    name: fluxgui
    state: absent
  register: fluxgui_was_installed
  tags:
  - ergonomics

- name: remove the f.lux repository
  apt_repository:
    repo: 'deb http://ppa.launchpad.net/nathan-renniewaldock/flux/ubuntu bionic main'
    state: absent
  when: fluxgui_was_installed is changed
  tags:
  - ergonomics

- name: remove the f.lux source repository
  apt_repository:
    repo: 'deb-src http://ppa.launchpad.net/nathan-renniewaldock/flux/ubuntu bionic main'
    state: absent
  when: fluxgui_was_installed is changed
  tags:
  - ergonomics

- name: remove the f.lux signing key
  apt_key:
    keyserver: keyserver.ubuntu.com id=428926204FE30238F00B98224CDB129629A4B41A
    state: absent
  when: fluxgui_was_installed is changed
  tags:
  - ergonomics

# Install redshift (replaces flux)

- name: add redshift
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
    - redshift
    - redshift-gtk
  tags:
  - ergonomics

# Install power management utilities

- name: "install TLP and TLP-rdw"
  apt:
    name: "{{ packages }}"
    state: "present"
  vars:
    packages:
    - "tlp"
    - "tlp-rdw"
  register: "tlp_installed"
  tags:
  - "power-management"

- name: "start up TLP"
  command: "tlp start"
  when: "tlp_installed is changed"
  tags:
  - "power-management"
