---
# File: roles/containerization/vars/main.yml

#
# Kubernetes
#

# https://github.com/kubernetes/kubernetes/releases/download/v1.3.0/kubernetes.tar.gz

k8s_name: kubernetes
k8s_archive: tar.gz

k8s_host: https://github.com
k8s_path: kubernetes/kubernetes/releases/download/v{{ k8s_version }}
k8s_file: "{{ k8s_name }}.{{ k8s_archive }}"

k8s_url: "{{ k8s_host }}/{{ k8s_path }}/{{ k8s_file }}"

k8s_installation_directory: /opt/{{ k8s_name }}
k8s_tar_directory: "{{ k8s_installation_directory }}/{{ k8s_name }}"
k8s_tar_file: "{{ k8s_name }}-{{ k8s_version }}.{{ k8s_archive }}"
k8s_home_directory: "{{ k8s_installation_directory }}/{{ k8s_version }}"

# https://storage.googleapis.com/minikube/releases/v0.6.0/minikube-linux-amd64

minikube_host: https://storage.googleapis.com
minikube_path: minikube/releases/v{{ minikube_version }}
minikube_file: minikube-linux-amd64

minikube_url: "{{ minikube_host }}/{{ minikube_path }}/{{ minikube_file }}"

minikube_installation_directory: /opt/minikube
minikube_home_directory: "{{ minikube_installation_directory }}/{{ minikube_version }}"

# https://github.com/ahmetb/kubectx/archive/v0.5.0.tar.gz

kubectx_host: "https://github.com"
kubectx_path: "ahmetb/kubectx/archive"
kubectx_file: "v{{ kubectx_version }}.tar.gz"

kubectx_url: "{{ kubectx_host }}/{{ kubectx_path }}/{{ kubectx_file }}"

kubectx_installation_directory: "/opt/kubectx"
kubectx_home_directory: "{{ kubectx_installation_directory }}/{{ kubectx_version }}"

kubectx_executables:
  - "kubectx"
  - "kubens"
  