---
# File: roles/containerization/vars/main.yml

#
# Kubernetes
#

# This is still needed solely to delete previous workstation installs of Kubernetes
k8s_name: kubernetes
k8s_installation_directory: /opt/{{ k8s_name }}

# https://storage.googleapis.com/minikube/releases/v0.6.0/minikube-linux-amd64

minikube_host: https://storage.googleapis.com
minikube_path: minikube/releases/v{{ minikube_version }}
minikube_file: minikube-linux-amd64

minikube_url: "{{ minikube_host }}/{{ minikube_path }}/{{ minikube_file }}"

minikube_installation_directory: /opt/minikube
minikube_home_directory: "{{ minikube_installation_directory }}/{{ minikube_version }}"

helm_host: "https://get.helm.sh"
helm_file: "helm-v{{ helm_version }}-linux-amd64.tar.gz"

helm_url: "{{ helm_host }}/{{ helm_file }}"

helm_installation_directory: "/opt/helm"
helm_home_directory: "{{ helm_installation_directory }}/{{ helm_version }}"

helm_bash_host: "https://raw.githubusercontent.com"
helm_bash_path: "kubernetes/helm/v{{ helm_version }}/scripts"
helm_bash_file: "completions.bash"

helm_bash_url: "{{ helm_bash_host }}/{{ helm_bash_path }}/{{ helm_bash_file }}"

# https://github.com/bitnami-labs/sealed-secrets/releases/download/$release/kubeseal-$GOOS-$GOARCH

kubeseal_host: "https://github.com"
kubeseal_path: "bitnami-labs/sealed-secrets/releases/download/v{{ kubeseal_version }}"
kubeseal_file: "kubeseal"

kubeseal_url: "{{ kubeseal_host }}/{{ kubeseal_path }}/{{ kubeseal_file }}"

kubeseal_installation_directory: "/opt/kubeseal"
kubeseal_home_directory: "{{kubeseal_installation_directory }}/{{ kubeseal_version }}"

# https://github.com/istio/istio/releases/download/1.0.3/istio-1.0.3-linux.tar.gz

istio_host: "https://github.com"
istio_path: istio/istio/releases/download/{{ istio_version }}
istio_file: istio-{{ istio_version }}-linux-amd64.tar.gz

istio_url: "{{ istio_host }}/{{ istio_path }}/{{ istio_file }}"

istio_installation_directory: "/opt/istio"
istio_home_directory: "{{ istio_installation_directory }}/{{ istio_version }}"

# https://releases.hashicorp.com/terraform/0.11.10/terraform_0.11.10_linux_amd64.zip

terraform_host: "https://releases.hashicorp.com"
terraform_path: "terraform/{{ terraform_version }}"
terraform_file: "terraform_{{ terraform_version }}_linux_amd64.zip"

terraform_url: "{{terraform_host }}/{{ terraform_path }}/{{ terraform_file }}"

terraform_installation_directory: "/opt/terraform"
terraform_home_directory: "{{ terraform_installation_directory }}/{{ terraform_version }}"

# https://github.com/boz/kail/releases/download/v0.7.0/kail_0.7.0_linux_amd64.tar.gz

kail_host: "https://github.com"
kail_path: "boz/kail/releases/download/v{{ kail_version }}"
kail_file: "kail_{{ kail_version }}_linux_amd64.tar.gz"

kail_url: "{{ kail_host }}/{{ kail_path }}/{{ kail_file }}"

kail_installation_directory: "/opt/kail"
kail_home_directory: "{{ kail_installation_directory }}/{{ kail_version }}"

# https://github.com/wercker/stern/releases/download/1.10.0/stern_linux_amd64

stern_host: "https://github.com"
stern_path: "wercker/stern/releases/download/{{ stern_version }}"
stern_file: "stern_linux_amd64"

stern_url: "{{ stern_host }}/{{ stern_path }}/{{ stern_file }}"

stern_installation_directory: "/opt/stern"
stern_home_directory: "{{ stern_installation_directory }}/{{ stern_version }}"

# https://github.com/weaveworks/flux/releases/download/1.8.0/fluxctl_linux_amd64

fluxctl_host: "https://github.com"
fluxctl_path: "fluxcd/flux/releases/download/{{ fluxctl_version }}"
fluxctl_file: "fluxctl_linux_amd64"

fluxctl_url: "{{ fluxctl_host }}/{{ fluxctl_path }}/{{ fluxctl_file }}"

fluxctl_installation_directory: "/opt/fluxctl"
fluxctl_home_directory: "/opt/fluxctl/{{ fluxctl_version }}"

# https://github.com/GoogleContainerTools/skaffold/releases/download/v1.16.0/skaffold-linux-amd64

skaffold_host: "https://github.com"
skaffold_path: "GoogleContainerTools/skaffold/releases/download/v{{ skaffold_version }}"
skaffold_file: "skaffold-linux-amd64"

skaffold_url: "{{ skaffold_host }}/{{ skaffold_path }}/{{ skaffold_file }}"

skaffold_installation_directory: "/opt/skaffold"
skaffold_home_directory: "{{ skaffold_installation_directory }}/{{ skaffold_version }}"
