---

# Add Visual Studio Code (see https://code.visualstudio.com/docs/setup/linux)

- name: add the visual studio signing key
  apt_key:
    url: "{{ vs_key }}"
    state: present
  tags:
  - visual_studio
  - ide
  - editors

# This play can be eliminated in Ansible >= 2.1
# Add filename to the play below and remove the when clause
- name: check to see if the renamed repository exists
  stat:
    path: /etc/apt/sources.list.d/{{ vs_source_list_name_out }}
  register: stat_result
  tags:
  - visual_studio
  - ide
  - editors

- name: add the visual studio repository
  apt_repository:
    repo: "{{ vs_repository }}"
    state: present
    mode: "644"
  when: not stat_result.stat.exists
  tags:
  - visual_studio
  - ide
  - editors

# This play can be eliminated in Ansible >= 2.1
# Add filename to the play above and remove the when clause
- name: fix the name of the repository (to what vscode expects)
  shell: mv /etc/apt/sources.list.d/{{ vs_source_list_name_in }} /etc/apt/sources.list.d/{{ vs_source_list_name_out }}
  when: not stat_result.stat.exists
  tags:
  - visual_studio
  - ide
  - editors

- name: install visual studio
  apt:
    name: "code"
    state: "present"
    update_cache: yes
  tags:
  - visual_studio
  - ide
  - editors

- name: install selected visual studio extensions
  command:
    cmd: "code --install-extension {{ item }} --user-data-dir /usr/share/code --force"
  with_items:
  - "vscodevim.vim"
  - "vscjava.vscode-java-pack"
  - "vscjava.vscode-maven"
  - "vscoss.vscode-ansible"
  - "gruntfuggly.todo-tree"
  - "ms-kubernetes-tools.vscode-kubernetes-tools"
  - "ms-kubernetes-tools.kind-vscode"
  - "golang.go"
  - "mtxr.sqltools"
  register: vscode_extension
  changed_when: "'already installed' not in vscode_extension.stdout"
  tags:
  - visual_studio
  - ide
  - editors

...